<div class="col-sm-6 col-md-8 offset-2 ">
    <div class="card bodyColor">
      <div class="card-header">
        
      </div>
      <div class="card-body AddPic">
   <div class ="wrapper">
            <div class=" col-md-4 offset-4 ">
              <div class ="eventPicture">
                
                  <img *ngIf ="eventTheam ==undifined?true:false" class ="imgclass img-thumbnail  " src="https://www.grupohpa.com/static/images/cms/default_image.png" alt="">
                
                    <img *ngIf ="eventTheam !=undifined?true:false" src="data:image/PNG;base64" class ="imgclass img-thumbnail">  
            </div>

            <div class ="upolad_event_picture">
              <input id="file" class="inputfile"  name="file" type="file" (change)="fileChangeEvent($event)" placeholder="" />
              <span  class="icon-camera"></span> <label for="file" >choose event picture</label>
            </div>

              </div>
              <div class=" col-md-8 offset-2 ">
               
            
                  
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="name"><strong>EVENT NAME</strong></label>
                        <input type="text"  [(ngModel)] ="event.eventname"class="form-control" id="name" placeholder="">
                      </div>
                      
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="name"><strong>PRICE</strong></label>
                        <input type="text"  [(ngModel)] ="event.price"class="form-control" id="name" placeholder="">
                      </div>
                      
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="name"><strong>PHONE NUMBER</strong></label>
                        <input type="text"  [(ngModel)] ="event.phonenumber"class="form-control" id="name" placeholder="">
                      </div>
                      
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="name"><strong>EVENT DISCRIPTION</strong></label>
                        <textarea class="form-control" [(ngModel)] ="event.eventdiscription"  id="exampleTextarea" placeholder="" rows="3"></textarea>
                      </div>
                      
                    </div>
                  
            
                    <div class ="upolad_event_picture">
                        <span  class="icon-camera"></span> <label  (click)="uploadEvent()">upload Event </label>
                      </div>
          
              </div>
      </div> 
    </div>
</div>
</div>

<!-- <div class=" event">
  <div *ngFor = "let event of eventDetailArray">
    <div class  ="eventWrapper" >
  <div style="display:inline-block;" class=" eventImg">
      <img  src="data:image/PNG;base64,{{event.eventtheam}}" class ="img-thumbnail img-responsive eventImg">
  </div>
  <div style="display:inline-block;" class=" eventbody ">
    {{event.eventname}}
   {{event.eventdiscription}}
  </div>
</div>
  <br>
  <br>
</div>

</div> -->
 <div class ="myclass" *ngFor ="let event of myeventArray">
   
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body">
            <img  src="data:image/PNG;base64,{{event.picurl}}"  class ="addPic"> 
          
       
          
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-9">
      <div class="card">
          <div class="h2 text-muted text-middle my-topic">
              {{event.adzname}} 
          </div>
        <div class="card-body">
        
            {{event.adzdescription}}
         
         
          <div class="h4 mb-0"><h3>RS /=</h3 ><h3>{{event.priceforservice}}</h3></div>
          <small class="text-muted text-uppercase font-weight-bold">tel--{{event.contactnumbers}}</small>
          <div class="progress progress-xs mt-3 mb-0">
 
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{event.contactnumbers}}</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  

  

  </div><!--/.row-->
</div>