.event_detail{

margin-top: non;

}
.inputfile {
    width: 0.1px;
    height: 0.1px;
   
    // overflow: hidden;
    position: absolute;
 
}
.inputfile + label {
    font-size: 8.00em;
    font-weight: 100;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}


div.upolad_event_picture:hover{
    background-color: #23cad6;
    margin-left: 10px;
    margin-top: 5px;

    // height: 50px;

}
.upolad_event_picture label,span{

    margin-top: 10px;
    margin-left: 15px;

}

.imgclass{
    height: 200px;
    width: 600px;
    // margin-top: 10px;
    margin-left: 5px;

}
.eventImg{
    margin-top: 12px;
    height: 200px;
    width: 400px;
    margin-left: 10px;
   
   
}
.eventWrapper{
height: 250px;
background-color: white;
margin-top: 14px;

}
.eventbody{
    margin-top: 20px;
    margin-left: 40px;
    width: 800px;;

}
.eventname{

text-align:  center;

}
.addPic{

    height: 195px;
    width: 250px;
}
.my-topic{

    text-align: center;
}
