<div class ="myclass" *ngFor ="let event of myeventArray">
        
       <div class="row">
         <div class="col-sm-6 col-md-3">
           <div class="card">
             <div class="card-body">
                 <img  src="data:image/PNG;base64,{{event.picurl}}"  class ="addPic"> 
               
            
               
             </div>
           </div>
         </div><!--/.col-->
         <div class="col-sm-6 col-md-9">
           <div class="card">
               <div class="h2 text-muted text-middle my-topic">
                   {{event.adzname}} 
               </div>
             <div class="card-body">
             
                 {{event.adzdescription}}
              
              
               <div class="h4 mb-0"><h3>RS /=</h3 ><h3>{{event.priceforservice}}</h3></div>
               <small class="text-muted text-uppercase font-weight-bold">tel--{{event.contactnumbers}}</small>
               <div class="progress progress-xs mt-3 mb-0">
      
                 <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{event.contactnumbers}}</div>
               </div>
             </div>
           </div>
         </div><!--/.col-->
       
     
       
     
       </div><!--/.row-->
     </div>