
.profilepic img{
    height: 150px;
    width: 150px;
    margin-top: 50px;
    margin-left: 27px;
    
    }
    .aboutWrapper{
        margin-top: 10px;
        height: 48px;
    
    }
    div.aboutWrapper:hover{
        
            background-color: rgb(35, 202, 214);
        
        }
        .aboutLebel label,span{
            margin-top: 10px;
            margin-left: 10px;
            
        }
        