.my-event{
top:10px;
background-color: black;
height: 250px;
}
.myrow{
    top:30px;

}
agm-map {
    height:130px;
    width: 50;
 

    }
  

    .wrap{
        margin-top: 20px;

    }
    .picture{

    height: 130px;
    width: 300px;
    }
