
<app-header></app-header>
<div class="app-body">
    <div *ngIf="userType=='service_provider'?true:fasle">
  <app-sidebar></app-sidebar>
    </div>
    <div *ngIf="userType=='organizer'?true:fasle">
      <app-sidebar-organizer></app-sidebar-organizer>
    </div>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
   
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
  <app-aside></app-aside>
</div>
<app-footer></app-footer>

