.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid rgb(16, 20, 2); /* green */
    border: 5px solid rgb(210, 197, 236);
  }
  
  .ng-invalid:not(form)  {
    border: 5px solid #a94442; /* red */
  }
  input.ng-untouched{
  border: 3px solid lightgray
  
  }
  
  input.ng-dirty{
    background: rgb(233, 188, 188);
    color: rgba(0, 6, 8, 0.938);
  
  }
  
  .card-body{
  
      box-shadow: 1px 2px 4px rgba(0.7, 0.7, 0.7, .7);
  }
  .app{
  
      background-color: rgb(109, 109, 170);
  }
  .jumbotron{
  
  background-color: rgb(233, 229, 229);
   
  
  }
  .inwrapp{
   
  background-color: rgb(230, 163, 109);
  
  }
  .wrapp{
  background-image:url(concert.jpg); 
  //background-color: rgb(36, 36, 44);
  
  }
  
  
  