 .profilepic{

        height: 50px;
        width: 50px;
        }
        .wrapp{
margin-top: 5px;
background-color: rgb(228, 222, 222);

        }
.memberName{

    margin-left: 10px;
}
.buttonStyle{
        display:inline-block;

}