 .profilepic{

        height: 50px;
        width: 50px;
        margin-left: 15px;
        }
        .wrapp{
margin-top: 5px;
background-color: rgb(11, 136, 130);

        }
.memberName{

    margin-left: 350px;
}
.buttonStyle{
        display:inline-block;

}

agm-map {
        height: 600px;
      }

 .my-card {
top:20px;

 }  
 .wrapp2{
margin-top: 5px;
background-color: rgb(14, 13, 13)

}  

div.wrapp:hover{
        height: 50px;
       
        background-color: rgb(35, 202, 214);
    
    }
    .profilepic2{
        
                height: 30px;
                width: 30px;
}
.my-d-block{

right: 300px;

}
.mysp{

top: 30px;

}
.myform{
top:30px;

}
    