 .profilepic{

        height: 50px;
        width: 50px;
        margin-left: 15px;
        }
        .wrapp{
margin-top: 5px;
background-color: rgb(11, 136, 130);

        }
.memberName{

    margin-left: 350px;
}
.buttonStyle{
        display:inline-block;

}

agm-map {
        height: 600px;
      }

 .my-card {
top:20px;

 }  
 .wrapp2{
margin-top: 5px;
background-color: rgb(14, 13, 13)

}  

div.wrapp:hover{
        height: 50px;
       
        background-color: rgb(35, 202, 214);
    
    }
    .profilepic2{
        
                height: 30px;
                width: 30px;
}
.my-d-block{

right: 300px;

}
.mysp{

top: 30px;

}
.myform{
top:30px;

}
.membername{
left: 20px;

}
.wrapper{
        margin-top:50px;
        background-color: white;
        // height: px;
        // margin-bottom: px;

}
.memberName{
        margin-left: 250px;
 
}
.header{
text-align: center;
margin-top:20px;
margin-bottom: 5px;



}
.my-button{
        margin-left: 650px;

}
.memberName{

        left: 50px;
}
.my-table{
margin-top: 100px;

}
    