<div class ="event">
  <h1 style="text-align:center;">WEl COME To {{eventname |  uppercase}}</h1> 

</div>

 <div class="col-sm-6 col-md-4">
  <div class="card">
    <div class="card-header">
      
      <span class="badge badge-success float-center">Add Organizer</span>
    </div>
    <div class="card-body">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    </div>
  </div>
</div><!--/.col-->

