<body class="app sidebar-hidden">
    <header class="app-header navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
             
                
                  
                    <div class="topnav">
          
                        <a class="active" href="#home">Home</a>
                        <a routerLink ="/pages/register"href="#Sign Up">Sign Up</a>
                        <a  routerLink ="/pages/login">Sign In</a>
                        <a routerLink ="/pages/publicevent" >About</a>
                     </div>
                    <!-- <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
              </div>-->
          </nav>
      </header>
      <main class="main">
          <!-- Main content here -->
          
         <h2 style ="text-align:center" > Welcome to EVETEX</h2>
         <div class="jumbotron">
            <h3>Smarter way to manage your event!</h3>
            <p>Join with us</p>
            
          </div>    

        </main>
        

        <footer class="app-footer">
            <!-- Footer content here -->
            <div class="panel panel-default">
                
                <div class="container-fluid abc">
                   
                        <div class="row">
                            <div class="col-md-3">
                                <div class="col">
                                    <h4>Contact us</h4>
                                    <ul>
                                        <li>No 246/2/1, Matara, Sri Lanka.</li>
                                        <li>Phone: +94 77 254 5144 </li>
                                        <li>Email: <a href="mailto:info@evetex.biz" title="Email Us"> info@evetex.biz</a></li>
                                        <li>Let's Organize your Events Online</li>
                                    </ul>
                                </div>
                            </div>
    
                            <div class="col-md-3">
                                <div class="col">
                                    <h4>Mailing list</h4>
                                    <p>Sign up if you would like to organize events with us.</p>
                                    <form class="form-horizontal form-light">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Your email address...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-base" type="button">Go!</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
    
                            <div class="col-md-3">
                                <div class="col col-social-icons">
                                    <h4>Follow us</h4>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-skype"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                    <a href="#"><i class="fa fa-flickr"></i></a>
                                </div>
                            </div>
    
                            <div class="col-md-3">
                                <div class="col">
                                    <h4>About us</h4>
                                    <p class="no-margin">
                                        evetex.biz is an online Event Planning & Management System where you can automate almost all the activities, processes in the field of Event Management, as well as to increase the ability to handle a greater capacity of events.
                                        <br><br>
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <hr>
    
                        <div class="row">
                            <div class="col-lg-9 copyright">
                                2018 © evetex.biz. All rights reserved.
                                <a href="#">Terms and conditions</a>
                            </div>
                            <!--<div class="col-lg-3">
                                <a href="https://venusit.tech/" title="Made with love by VENUS IT Pvt. Ltd" target="_blank" class="">
                                    <img src="images/venusit-logo.png" alt="To live &quote;The Art Of IT&quote;" class="pull-right">
                                </a>
                            </div>-->
                        </div>
                    </div>
    
                </div>
              
          </footer>
        
  </body>