<div class ="coverPotoWrap">
    <div class ="coverPhoto"> 
      <img  src="data:image/PNG;base64,{{coverphoto.img}}"class ="img-thumbnail">    
    </div>
    <div *ngIf="User">
    <div class ="uploadFile">
    <input id="file" class="inputfile" name="file"  (click)="viewCoverButton()" type="file" (change)="fileChangeEvent($event)" placeholder="" multiple/>
    <span  class="icon-camera"></span> <label for="file" >upload profile picture</label>
  </div>
  
  <div *ngIf ="isClickedCoverButton"class ="buttonUpload">
    <button type="button" class="btn btn-primary" (click)="uploadCoverPhoto()">
            <i class="fa fa-star"></i>&nbsp;Update coverphoto
        </button>
      </div>
    </div>
</div>
<div>
 <div *ngFor="let img of imageDetailArray">
<div class="col-sm-6 col-md-5 offset-4 ">
    <div class="card bodyColor">
      <div class="card-header">
        <i class="fa fa-check"></i>
      </div>
      <div class="card-body AddPic">
            
                    
            
         <img  src="data:image/PNG;base64,{{img.img}}" class ="img-thumbnail img-responsive">
      </div>
      <div *ngIf="userType=='service_provider'?true:fasle">
      <div class="card-footer"><button class="btn btn-danger btn-lg" (click)="deleteImages(img.url,img.id)">Delete</button></div>
    </div>
    </div>
  
  </div>
   </div>  
   <button class ="btn btn-primary" (click)="getnotification()"> see notification</button>
  


   <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Card with label
          <span class="badge badge-success float-right">Success</span>
        </div>
        <div *ngFor="let notificaton of getNotifications">
            <div class="d-inline-block ">
                
                <div class="avatar">
                    <!-- <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"> -->
                    <img  src="data:image/PNG;base64,{{notificaton.addedorganizerpropic}}" class ="img-avatar">   
                    <span class="avatar-status badge-success"></span>
                  </div>
             </div>
             <div class="d-inline-block memberName ">
                <div class="text-truncate font-weight-bold"></div>
                <small class="text-muted">{{notificaton.notification}}</small>
               </div>
       
         
        </div>
        </div>
      </div>
    </div><!--/.col-->
  
   