
<div *ngIf="userType=='service_provider'?true:fasle">
<div class ="coverPotoWrap">
    <div class ="coverPhoto"> 
      <img  src="data:image/PNG;base64,{{coverphoto.img}}"class ="img-thumbnail">    
    </div>
    <div *ngIf="User">
    <div class ="uploadFile">
    <input id="file" class="inputfile" name="file"  (click)="viewCoverButton()" type="file" (change)="fileChangeEvent($event)" placeholder="" multiple/>
    <span  class="icon-camera"></span> <label for="file" >upload profile picture</label>
  </div>
  
  <div *ngIf ="isClickedCoverButton"class ="buttonUpload">
    <button type="button" class="btn btn-primary" (click)="uploadCoverPhoto()">
            <i class="fa fa-star"></i>&nbsp;Update coverphoto
        </button>
      </div>
    </div>
</div>
<div>
 <div *ngFor="let img of imageDetailArray">
<div class="col-sm-6 col-md-5 offset-4 ">
    <div class="card bodyColor">
      <div class="card-header">
        <i class="fa fa-check"></i>
      </div>
      <div class="card-body AddPic">
            
                    
            
         <img  src="data:image/PNG;base64,{{img.img}}" class ="img-thumbnail img-responsive">
      </div>
      <div *ngIf="userType=='service_provider'?true:fasle">
      <div class="card-footer"><button class="btn btn-danger btn-lg" (click)="deleteImages(img.url,img.id)">Delete</button></div>
    </div>
    </div>
  
  </div>
   </div> 
   
  </div>
</div>



  




  <div *ngIf="userType =='organizer'?true:fasle">
      <div *ngIf ="AdminEventArray.length ==0 && Subevent.length ==0?true:false">
          
            <p>No events yet!!</p> 
            <p>Let's Organize Events By creating Events</p>
        </div>
      <div *ngIf ="AdminEventArray.length!=0?true:false">
          <h2>creater event</h2>
       </div>
 
    <div  *ngFor ="let adminevent of AdminEventArray">
 
     <div class="row">
       <div class="col-sm-6 col-md-3">
         <div class="card">
           <div class="card-body">
               <img  src="data:image/PNG;base64,{{adminevent.eventimg}}"  class ="addPic"> 
             
          
             
           </div>
         </div> 
       </div>
       <div class="col-sm-6 col-md-9">
         <div class="card">
             <div class="h2 text-muted text-middle my-topic">
                 {{adminevent.eventname}} 
             </div>
           <div class="card-body">
           
               {{adminevent.eventdisctription}}
            
            
             <div class="h4 mb-0"><h3></h3></div>
             <small class="text-muted text-uppercase font-weight-bold"></small>
             <div class="progress progress-xs mt-3 mb-0">
    
               <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
             </div>
           </div>
         </div>
       </div>
     
   
   
     </div> 
   </div>
   <div *ngIf ="Subevent.length!=0?true:false">
      <h2>sub event</h2>
   </div>
   
   
 
   <div  *ngFor ="let adminevent of Subevent">
   <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
              <img  src="data:image/PNG;base64,{{adminevent.eventimg}}"  class ="addPic"> 
            
         
            
          </div>
        </div> 
      </div>
      <div class="col-sm-6 col-md-9">
        <div class="card">
            <div class="h2 text-muted text-middle my-topic">
                {{adminevent.eventname}} 
            </div>
          <div class="card-body">
          
              {{adminevent.eventdisctription}}
           
           
            <div class="h4 mb-0"><h3>RS /=</h3 ><h3></h3></div>
            <small class="text-muted text-uppercase font-weight-bold"></small>
            <div class="progress progress-xs mt-3 mb-0">
   
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    
  
  
    </div> 
   </div>
  </div>




 

