<div class="container">
        
         <table class=" col-md-12 table table-dark table-hover">
           <thead>
            
           </thead>
           <tbody>
             <tr>
               
               <td>Name</td>
               <td>{{editAbout.name}}</td>
               
             </tr>
             <tr>
               <td>Email</td>
               <td>{{editAbout.email}}</td>
              
             </tr>
             <tr>
               <td>Phone Number</td>
               <td>{{editAbout.phoneNumber}}</td>
             </tr>
             <tr>
               <td>Address</td>
               <td>{{editAbout.address}}</td>
             </tr>
             <tr>
               <td>Qualification</td>
               <td>{{editAbout.qualification}}</td>
             </tr>
             <tr>
               <td>Expirience</td>
               <td>{{editAbout.expirience}}</td>
             </tr>
           </tbody>
         </table>
       </div>