
.profilepic img{
    height: 150px;
    width: 150px;
    margin-top: 50px;
    margin-left: 27px;
    
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .inputfile + label {
        font-size: 8.00em;
        font-weight: 100;
        color: white;
        background-color: black;
        display: inline-block;
    }
    
    .inputfile:focus + label,
    .inputfile + label:hover {
        background-color: red;
    }
    .inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.uploadFile{
    margin-top: 40px;
    height: 48px;
    
}
div.uploadFile:hover{ 
    background-color: rgb(35, 202, 214);
}
.uploadFile label,span{
    margin-top: 10px;
    margin-left: 10px;
}
.buttonUpload{
    margin-top: 3px;
    margin-left: 35px;

}
div.uploadAdvatiesment:hover{ 
    background-color: rgb(35, 202, 214);
}
.uploadAdvatiesment{

    margin-top: 10px;
    height: 48px;
}
.uploadAdvatiesment label,span{
    margin-top: 10px;
    margin-left: 10px;
}
